In [44]:
# importing modules 
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('insurance_claims.csv')
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,2015-01-10,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,2015-02-17,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [46]:
df.isna().sum().sort_values(ascending=False)

_c39                           1000
fraud_reported                    0
incident_date                     0
capital-loss                      0
capital-gains                     0
insured_relationship              0
insured_hobbies                   0
insured_occupation                0
insured_education_level           0
insured_sex                       0
insured_zip                       0
umbrella_limit                    0
policy_annual_premium             0
policy_deductable                 0
policy_csl                        0
policy_state                      0
policy_bind_date                  0
policy_number                     0
age                               0
incident_type                     0
collision_type                    0
incident_severity                 0
police_report_available           0
auto_year                         0
auto_model                        0
auto_make                         0
vehicle_claim                     0
property_claim                    0
injury_claim                      0
total_claim_amount                0
witnesses                         0
authorities_contacted             0
bodily_injuries                   0
property_damage                   0
number_of_vehicles_involved       0
incident_hour_of_the_day          0
incident_location                 0
incident_city                     0
incident_state                    0
months_as_customer                0
dtype: int64

In [47]:
df.drop('_c39', axis=1, inplace=True)

# Identifying the numeric and categorical features.

We start by identifying the numericc and the categorical features

## 1. Numeric features

In [48]:
numeric_df = df.select_dtypes(exclude='object')
numeric_df.head()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
0,328,48,521585,1000,1406.91,0,466132,53300,0,5,1,1,2,71610,6510,13020,52080,2004
1,228,42,342868,2000,1197.22,5000000,468176,0,0,8,1,0,0,5070,780,780,3510,2007
2,134,29,687698,2000,1413.14,5000000,430632,35100,0,7,3,2,3,34650,7700,3850,23100,2007
3,256,41,227811,2000,1415.74,6000000,608117,48900,-62400,5,1,1,2,63400,6340,6340,50720,2014
4,228,44,367455,1000,1583.91,6000000,610706,66000,-46000,20,1,0,1,6500,1300,650,4550,2009

From this we note that some of the numeric features should be treated as categorical features. This include;
- policy_number
- insured_zip

In [49]:
df['policy_number'] = df['policy_number'].astype('object')
df['insured_zip'] = df['insured_zip'].astype('object')

In [50]:
df['incident_hour_of_the_day'].value_counts().sort_index().index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23],
           dtype='int64')

We note that for incident hour of the day, the hours range from 0 to 23.

Since this feature is more cyclic than linear, we can introduce sine_hour and cosine_hour to capture the cyclic behaviour.

### Cyclical Encoding for Hour of the Day

To represent the hour of the day as a cyclical feature, we use the following transformations:

1. **Sine of the hour**:
   $$\text{sine\_hour} = \sin\left(\frac{2 \pi \times \text{hour}}{24}\right)$$

2. **Cosine of the hour**:
   $$\text{cosine\_hour} = \cos\left(\frac{2 \pi \times \text{hour}}{24}\right)$$

In [51]:
df['incident_sine_hour'] = df['incident_hour_of_the_day'].map(
    lambda x: np.sin(2 * np.pi * x / 24)
)

df['incident_cosine_hour'] = df['incident_hour_of_the_day'].map(
    lambda x: np.cos(2 * np.pi * x / 24)
)
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,incident_sine_hour,incident_cosine_hour
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y,0.965926,0.258819
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y,0.866025,-0.500000
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,0.965926,-0.258819
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,2015-01-10,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,0.965926,0.258819
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,2015-02-17,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N,-0.866025,0.500000

In [52]:
# dropping the incident_hour _of_day dolumn
df.drop('incident_hour_of_the_day', axis=1, inplace=True)

## 2. Categorical features

In [53]:
pd.set_option('display.max_columns', None)
categorical_df =  df.select_dtypes(include='object')
categorical_df.head()

,policy_number,policy_bind_date,policy_state,policy_csl,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,property_damage,police_report_available,auto_make,auto_model,fraud_reported
0,521585,2014-10-17,OH,250/500,466132,MALE,MD,craft-repair,sleeping,husband,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,YES,YES,Saab,92x,Y
1,342868,2006-06-27,IN,250/500,468176,MALE,MD,machine-op-inspct,reading,other-relative,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,?,?,Mercedes,E400,Y
2,687698,2000-09-06,OH,100/300,430632,FEMALE,PhD,sales,board-games,own-child,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,NO,NO,Dodge,RAM,N
3,227811,1990-05-25,IL,250/500,608117,FEMALE,PhD,armed-forces,board-games,unmarried,2015-01-10,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,?,NO,Chevrolet,Tahoe,Y
4,367455,2014-06-06,IL,500/1000,610706,MALE,Associate,sales,board-games,unmarried,2015-02-17,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,NO,NO,Accura,RSX,N

We start by combining the make and model as a single feature

In [54]:
df['auto_make_model'] = df['auto_make'] + '_' + df['auto_model']
df.drop(['auto_make', 'auto_model'], axis=1, inplace=True)
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,fraud_reported,incident_sine_hour,incident_cosine_hour,auto_make_model
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,1,YES,1,2,YES,71610,6510,13020,52080,2004,Y,0.965926,0.258819,Saab_92x
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,1,?,0,0,?,5070,780,780,3510,2007,Y,0.866025,-0.500000,Mercedes_E400
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,3,NO,2,3,NO,34650,7700,3850,23100,2007,N,0.965926,-0.258819,Dodge_RAM
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,2015-01-10,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,1,?,1,2,NO,63400,6340,6340,50720,2014,Y,0.965926,0.258819,Chevrolet_Tahoe
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,2015-02-17,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,1,NO,0,1,NO,6500,1300,650,4550,2009,N,-0.866025,0.500000,Accura_RSX

## Handling dates

In [55]:
date_columns = ['policy_bind_date', 'incident_date']

# converting to datetime
df[date_columns] = df[date_columns].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   object
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   object
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  number_of_vehicles_involved  1000 non-null   int64
 26  property_damage              1000 non-null   object
 27  bodily_injuries              1000 non-null   int64
 28  witnesses                    1000 non-null   int64
 29  police_report_available      1000 non-null   object
 30  total_claim_amount           1000 non-null   int64
 31  injury_claim                 1000 non-null   int64
 32  property_claim               1000 non-null   int64
 33  vehicle_claim                1000 non-null   int64
 34  auto_year                    1000 non-null   int64
 35  fraud_reported               1000 non-null   object
 36  incident_sine_hour           1000 non-null   float64
 37  incident_cosine_hour         1000 non-null   float64
 38  auto_make_model              1000 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(14), object(20)
memory usage: 304.8+ KB

In [56]:
# function to split date to year month and day
def split_date_col(df, date_cols):
    """Splits the dates of the specified columns 
    and adds them as new features also deletes original date column
    
    Parameters:
        df(Pd.DataFrame): the dataframe containing the features
        date_cols([str]): list of the date columns
    Returns:
        Pd.Dataframe: edited df with new features
    """
    
    # iterating through the cols
    for col in date_cols:
        # convert to datetime
        date = df[col].apply(pd.to_datetime)
        # split the date
        df[f'{col}_year'] = df[col].dt.year
        # make month and day as cosine and sine to show the cyclic nature
        df[f'{col}_cosine_month'] = df[col].dt.month.apply(
            lambda x: np.cos(2 * np.pi * x / 12)
        )
        df[f'{col}_sine_month'] = df[col].dt.month.apply(
            lambda x: np.sin(2 * np.pi * x / 12)
        )
        df[f'{col}_cosine_day'] = df[col].dt.day.apply(
            lambda x: np.cos(2 * np.pi * x / 12)
        )
        df[f'{col}_sine_day'] = df[col].dt.day.apply(
            lambda x: np.sin(2 * np.pi * x / 12)
        )
        
        
        # drop original_date
        df.drop(col, axis=1, inplace=True)
        
    return df

In [57]:
df = split_date_col(df, date_columns)
df.head()

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,fraud_reported,incident_sine_hour,incident_cosine_hour,auto_make_model,policy_bind_date_year,policy_bind_date_cosine_month,policy_bind_date_sine_month,policy_bind_date_cosine_day,policy_bind_date_sine_day,incident_date_year,incident_date_cosine_month,incident_date_sine_month,incident_date_cosine_day,incident_date_sine_day
0,328,48,521585,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,1,YES,1,2,YES,71610,6510,13020,52080,2004,Y,0.965926,0.258819,Saab_92x,2014,5.000000e-01,-8.660254e-01,-8.660254e-01,5.000000e-01,2015,0.866025,0.500000,8.660254e-01,0.500000
1,228,42,342868,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,1,?,0,0,?,5070,780,780,3510,2007,Y,0.866025,-0.500000,Mercedes_E400,2006,-1.000000e+00,1.224647e-16,5.510911e-16,1.000000e+00,2015,0.866025,0.500000,-4.286264e-16,-1.000000
2,134,29,687698,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,3,NO,2,3,NO,34650,7700,3850,23100,2007,N,0.965926,-0.258819,Dodge_RAM,2000,-1.836970e-16,-1.000000e+00,-1.000000e+00,1.224647e-16,2015,0.500000,0.866025,5.000000e-01,-0.866025
3,256,41,227811,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,1,?,1,2,NO,63400,6340,6340,50720,2014,Y,0.965926,0.258819,Chevrolet_Tahoe,1990,-8.660254e-01,5.000000e-01,8.660254e-01,5.000000e-01,2015,0.866025,0.500000,5.000000e-01,-0.866025
4,228,44,367455,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,1,NO,0,1,NO,6500,1300,650,4550,2009,N,-0.866025,0.500000,Accura_RSX,2014,-1.000000e+00,1.224647e-16,-1.000000e+00,1.224647e-16,2015,0.500000,0.866025,-8.660254e-01,0.500000

From the eda, the total claim amount was hihgly corelated with all the other claim amount features.
We remove it to avoid collinearity.

In [58]:
df.drop('total_claim_amount', axis=1, inplace=True)

## Data cleaning

In [59]:
df['collision_type'].value_counts()

Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: collision_type, dtype: int64

Notice that some categorical features contain '?' as a catrgory, We can replace ? with 'unknown'

In [66]:
df.replace('?', 'unknown', inplace=True)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   months_as_customer             1000 non-null   int64
 1   age                            1000 non-null   int64
 2   policy_number                  1000 non-null   int64
 3   policy_state                   1000 non-null   object
 4   policy_csl                     1000 non-null   object
 5   policy_deductable              1000 non-null   int64
 6   policy_annual_premium          1000 non-null   float64
 7   umbrella_limit                 1000 non-null   int64
 8   insured_zip                    1000 non-null   int64
 9   insured_sex                    1000 non-null   object
 10  insured_education_level        1000 non-null   object
 11  insured_occupation             1000 non-null   object
 12  insured_hobbies                1000 non-null   object
 13  insured_relationship           1000 non-null   object
 14  capital-gains                  1000 non-null   int64
 15  capital-loss                   1000 non-null   int64
 16  incident_type                  1000 non-null   object
 17  collision_type                 1000 non-null   object
 18  incident_severity              1000 non-null   object
 19  authorities_contacted          1000 non-null   object
 20  incident_state                 1000 non-null   object
 21  incident_city                  1000 non-null   object
 22  incident_location              1000 non-null   object
 23  number_of_vehicles_involved    1000 non-null   int64
 24  property_damage                1000 non-null   object
 25  bodily_injuries                1000 non-null   int64
 26  witnesses                      1000 non-null   int64
 27  police_report_available        1000 non-null   object
 28  injury_claim                   1000 non-null   int64
 29  property_claim                 1000 non-null   int64
 30  vehicle_claim                  1000 non-null   int64
 31  auto_year                      1000 non-null   int64
 32  fraud_reported                 1000 non-null   object
 33  incident_sine_hour             1000 non-null   float64
 34  incident_cosine_hour           1000 non-null   float64
 35  auto_make_model                1000 non-null   object
 36  policy_bind_date_year          1000 non-null   int64
 37  policy_bind_date_cosine_month  1000 non-null   float64
 38  policy_bind_date_sine_month    1000 non-null   float64
 39  policy_bind_date_cosine_day    1000 non-null   float64
 40  policy_bind_date_sine_day      1000 non-null   float64
 41  incident_date_year             1000 non-null   int64
 42  incident_date_cosine_month     1000 non-null   float64
 43  incident_date_sine_month       1000 non-null   float64
 44  incident_date_cosine_day       1000 non-null   float64
 45  incident_date_sine_day         1000 non-null   float64
dtypes: float64(11), int64(17), object(18)
memory usage: 359.5+ KB

In [68]:
# convert the datafrae to a csv
# df.to_csv('featuure_engineered.csv', index=False)